@model STS.Domain.Entities.Pers

@{
    ViewBag.Title = "Personel Bilgisi";
    ViewBag.Description = "Sistemde tanımlı personel bilgisi görüntülenir.";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


@using (Html.BeginForm("Guncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-user-plus"></i> <h3 class="box-title">@Model.PersAd <b></b> @Model.PersSoyad</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        @Html.HiddenFor(m => m.Persid)
                        @foreach (var property in ViewData.ModelMetadata.Properties)
                        {
                            switch (property.PropertyName)
                            {
                                case "Persid":
                                case "FotoData":
                                case "FotoMimeType":
                                case "PersKayitTarihi":
                                    // do nothing
                                    break;
                                default:
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>

                                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                            }
                        }
                        <div class="form-group">
                            <div style="position: relative;">
                                <label>Fotoğraf</label>
                                <a class='btn' href='javascript:;'>
                                    Choose File...
                                    <input type="file" name="Image" size="40"
                                           style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
                                           onchange='$("#upload-file-info").html($(this).val());'>
                                </a>
                                <span class='label  label-info' id="upload-file-info"></span>
                            </div>
                            <img class="img-circle" width="150" height="150" src="@Url.Action("FotoYukle", "Personel", new { Model.Persid })" />
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}