@model STS.WebUI.Models.PersonelListViewModel

@{
    ViewBag.Title = "Personeller";
    ViewBag.Description = "Sistemde tanımlı personelleri listeler.";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-users"></i><h3 class="box-title">Personel Listesi</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:5%">Fotoğraf</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>T.C. Kimlik No</th>
                            <th>Kart ID</th>
                            <th>Kart Seri No</th>
                            <th>Birlik Adı</th>
                            <th style="width:8%"></th>
                            <th style="width:8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.Personeller)
                        {
                            <tr>
                                <td><img class="img-circle" width="50" height="50" src="@Url.Action("FotoYukle", "Personel", new { @p.Persid })" /></td>
                                <td>@p.PersAd</td>
                                <td>@p.PersSoyad</td>
                                <td>@p.PersTcNo</td>
                                <td>@p.PersKartId</td>
                                <td>@p.PersKartSeriNo</td>
                                <td>@p.PersBirlikAdi</td>
                                <td>
                                    @using (Html.BeginForm("GuncelleView", "Personel"))
                                    {
                                        @Html.Hidden("personelId", @p.Persid)
                                        <input type="submit" class="btn btn-block btn-info" value="Düzenle" />
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("Sil", "Personel"))
                                    {
                                        @Html.Hidden("Id", @p.Persid)
                                        <input type="submit" class="btn btn-block btn-danger" value="Sil" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Liste", new { page = x }))
                </ul>
            </div>
        </div>
    </div>
</div>

