@model STS.Domain.Entities.Silah

@{
    ViewBag.Title = "ssss Bilgisi";
    ViewBag.Description = "Sistemde tanımlı sss bilgisi görüntülenir.";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Faal",
        Value = "Faal"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Arızalı",
        Value = "Arızalı",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Bakımda",
        Value = "Bakımda"
    });

    List<SelectListItem> markaListItems = new List<SelectListItem>();
    markaListItems.Add(new SelectListItem
    {
        Text = "Marka1",
        Value = "Marka1"
    });
    markaListItems.Add(new SelectListItem
    {
        Text = "Marka2",
        Value = "Marka2",
    });

    List<SelectListItem> modelListItems = new List<SelectListItem>();
    modelListItems.Add(new SelectListItem
    {
        Text = "Model1",
        Value = "Model1"
    });
    modelListItems.Add(new SelectListItem
    {
        Text = "Model2",
        Value = "Model2",
    });
}

<script type="text/javascript">
    $('#datepicker').datepicker({
        autoclose: true
    });
</script>

@using (Html.BeginForm("Guncelle", "Silah", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-plus-circle "></i> <h3 class="box-title">@Model.SilahNo</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        @Html.HiddenFor(m => m.SilahId)
                        @foreach (var property in ViewData.ModelMetadata.Properties)
                        {
                            switch (property.PropertyName)
                            {
                                case "SilahId":
                                case "KayitTarihi":
                                    // do nothing
                                    break;
                                case "Marka":
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.Marka, markaListItems, "Marka Seçiniz")
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                                case "Model":
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.Model, modelListItems, "Model Seçiniz")
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                                case "Durumu":
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                                        <br />
                                        @Html.DropDownListFor(model => model.Durumu, listItems, "Durum Seçiniz")
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                                case "BakimZamani":
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                                        <br />

                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="datepicker" />
                                        </div>
                                        @*@Html.EditorFor(model => model.BakimZamani)*@
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                                default:
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>

                                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                            }
                        }
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}