@model STS.WebUI.Models.SilahListViewModel

@{
    ViewBag.Title = "Silahlar";
    ViewBag.Description = "Sistemde tanımlı silahları listeler.";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-rocket"></i><h3 class="box-title">Silah Listesi</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Silah No</th>
                            <th>Durumu</th>
                            <th>Bakım Zamanı</th>
                            <th>Açıklama</th>
                            @if (Model.kullaniciYetkileri.SilahDegistirme)
                            {
                                <th style="width:8%"></th>
                            }
                            @if (Model.kullaniciYetkileri.SilahSilme)
                            {
                                <th style="width:8%"></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.Silahlar)
                        {
                            <tr>
                                <td>@p.SilahNo</td>
                                <td>@p.Durumu</td>
                                <td>@p.BakimZamani</td>
                                <td>@p.Aciklama</td>
                                @if (Model.kullaniciYetkileri.SilahDegistirme)
                                {
                                    <td>
                                        @using (Html.BeginForm("GuncelleView", "Silah"))
                                        {
                                            @Html.Hidden("silahId", @p.SilahId)
                                            <input type="submit" class="btn btn-block btn-info" value="Düzenle" />
                                        }
                                    </td>
                                }
                                @if (Model.kullaniciYetkileri.SilahSilme)
                                {
                                    <td>
                                        @using (Html.BeginForm("Sil", "Silah"))
                                        {
                                            @Html.Hidden("Id", @p.SilahId)
                                            <input type="submit" class="btn btn-block btn-danger" value="Sil" />
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Liste", new { page = x }))
                </ul>
            </div>
        </div>
    </div>
</div>
