@model STS.WebUI.Models.GrupListViewModel

@{
    ViewBag.Title = "Kullanıcı Grupları";
    ViewBag.Description = "Sistemde tanımlı kullanıcı gruplarını listeler.";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-users"></i><h3 class="box-title">Grup Listesi</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Grup Adı</th>
                            <th style="width:12%"></th>
                            <th style="width:8%"></th>
                            <th style="width:8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.Gruplar)
                        {
                            <tr>
                                <td>
                                    @p.GrupAdi
                                </td>
                                <td>
                                    @using (Html.BeginForm("KullaniciVeIzinler", "Grup"))
                                    {
                                        @Html.Hidden("grupId", @p.GrupId)
                                        <input type="submit" class="btn btn-block btn-warning" value="Kullanıcı ve İzinler" />
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("GuncelleView", "Grup"))
                                    {
                                        @Html.Hidden("grupId", @p.GrupId)
                                        <input type="submit" class="btn btn-block btn-info" value="Düzenle" />
                                    }
                                </td>
                                <td>
                                    @using (Html.BeginForm("Sil", "Grup"))
                                    {
                                        @Html.Hidden("Id", @p.GrupId)
                                        <input type="submit" class="btn btn-block btn-danger" value="Sil" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Liste", new { page = x }))
                </ul>
            </div>
        </div>
    </div>
</div>
