@model STS.Domain.Entities.Kullanici

<div class="well">
    @if (Model.FotoData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetFoto", "Kullanici", new { Model.KullaniciId })" />
        </div>
    }
    else
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75" src="" />
        </div>
    }
    <h3>
        <strong></strong>
        @Html.ActionLink(@Model.KullaniciAdi, "Guncelle", new { @Model.KullaniciId })
        <span class="pull-right  label">
            @Html.ActionLink("Sil", "Sil", new { Model.KullaniciId }, new { @class = "btn btn-danger" })
        </span>
    </h3>
</div>

